.MyGridView 
{
	font-family: Arial;
	font-size: 12px;
}

.MyGridView tr.row
{
	color: #000000;
	background-color: #97ABC1;
}

.MyGridView tr.row:hover
{
	/*background-image: url('../images/orangegrid.png');
	background-repeat: repeat-x;
	color:#FFFFFF ;*/
}

